[Desktop Entry]
Version=1.5
Type=Application
Name=Eclipse
GenericName=Android Roblox runtime
Comment=Run the official Android Roblox client on Linux
Exec=eclipse run
Icon=io.github.kuenec.Eclipse
Terminal=false
StartupNotify=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
Categories=Game;
Keywords=roblox;player;android;game;
Actions=settings;check-update;

[Desktop Action settings]
Name=Settings
Exec=eclipse settings

[Desktop Action check-update]
Name=Check for Roblox Update
Exec=eclipse run --check-update
